<div class="chat-container">
    <!-- Receiver's Name -->
    <div class="chat-header">
        <h5 style="text-align: left">{{ selectedUserName }}</h5>
    </div>

    <!-- Chat Messages -->
    <div class="chat-messages" #scrollMe>
        <div *ngFor="let message of messages"
             [ngClass]="message.sender == loginUserID ? 'my-message' : 'other-message'">
            <p style="margin-bottom: -3px">{{ message.content }}</p>
            <small style="font-size: 11px">{{ message.time | date:'short' }}</small>
<!--            <small>{{ message.time | date:'short' }}</small>-->
        </div>
    </div>

    <!-- Input to send new message -->
    <div class="chat-input">
        <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." (keydown.enter)="sendMessage()"/>
        <button (click)="sendMessage()">Send</button>
    </div>
</div>
